@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-extraDarkBlue {
    
    background-color: rgb(20 24 87);
}
.bg-fuchsiaBlue:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(113 86 245/var(--tw-bg-opacity));
}

.border-background{
    border-bottom: 1px solid rgb(113 86 245);
    opacity: 1;

}